<button onclick="openModal('edit_initiative_popup');" class="button is-primary">
   Editar
</button>
  
  <% if current_user.has_role?(:admin_initiative, @initiative) %>
    <div class="modal" id="edit_initiative_popup">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            Editar Inicitiva
          </p>
          <button onclick="closeModal('edit_initiative_popup');" class="delete" aria-label="close"></button>

        </header>
        <section class="modal-card-body" style="text-align: center;">
          <h3>Datos de la Inicitiva</h3>
          <br />
          <!-- Your content -->
          <%= form_with(model: @initiative, local: true) do |form| %>
            <% if @initiative.errors.any? %>
                <div id="error_explanation">
                <h4><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h4>

                <ul>
                <% @initiative.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
                </div>
            <% end %>
            <br />

            <%= form.label :Nombre %>
            <%= form.text_field :name %>
            <br />
           
            <%= form.label :Tema %>
            <%= form.text_field :topic %>
            <br />
           
            <%= form.label :Descripción %>
            <%= form.text_area :description %>
            
            <%= form.hidden_field :update_type, value: "data" %>
            
        </section>
        <footer class="modal-card-foot">
          <%= form.submit "Guardar cambios", class: "button is-primary", onclick:"closeModal('edit_initiative_popup');"  %>
          <% end %>
        
          <button class="button is-danger" onclick="closeModal('edit_initiative_popup');">
            Cancelar
          </button>
        </footer>
      </div>
    </div>
  

  <% end %>

 

	


