<% if current_user.has_role?(:admin_initiative, @initiative) %>
    <div class="modal" id="edit_initiative_popup">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            Editar Inicitiva
          </p>
          <button onclick="closeModal('edit_initiative_popup');" class="delete" aria-label="close"></button>

        </header>
        <%= form_with(model: @initiative,  url: initiative_path(@initiative), method: :patch, local: true) do |form| %>
        <section class="modal-card-body" style="text-align: center;">

            <% if @initiative.errors.any? %>
                <div id="error_explanation">
                <h4><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h4>

                <ul>
                <% @initiative.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
                </div>
            <% end %>

          <div class="field">
            <%= form.label 'Nombre', class: "label is-medium" %>
            <div class="control">
              <%= form.text_field :name, class: "input is-medium", placeholder: "Nombre", required: true %>
            </div>
          </div>

          <div class="field">
            <%= form.label 'Tema', class: "label" %>
            <div class="control">
              <%= form.text_field :topic, class: "input", placeholder: "Tema", required: true %>
            </div>
          </div>

          <div class="field">
            <%= form.label 'Descripción', class: "label" %>
            <div class="control">
              <%= form.text_area :description, class: "textarea", placeholder: "Descripción", required: true, rows: 2 %>
            </div>
          </div>

          <div class="field">
            <%= form.label 'Imagen', class: "label" %>
            <div class="control">
              <div class="file is-link is-light has-name is-centered is-small">
                <label class="file-label">
                  <%= form.file_field :image, class: "file-input", accept: "image/*", onchange: "updateFileName(this)" %>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">Elige un archivo…</span>
                  </span>
                  <span class="file-name" id="file-name">No has ingresado un archivo</span>
                </label>
              </div>
            </div>
          </div>






        </section>
        <footer class="modal-card-foot">
          <div class="field is-grouped">
            <div class="control">
              <%= form.hidden_field :update_type, value: "data" %>
              <%= form.submit "Guardar cambios", class: "button is-primary", onclick: "closeModal('edit_initiative_popup')"  %>
            </div>

            <div class="control">
              <button class="button is-danger" onclick="closeModal('edit_initiative_popup');" data: { turbo: false }>
                Cancelar
              </button>
            </div>
          </div>
          <% end %>
        </footer>

      </div>
    </div>

<% end %>
