
<% if user_signed_in? && current_user.has_role?(:member, @initiative) %>
  <!-- Toggle button -->
  <!-- Overlay -->
  

<button class="button is-primary js-modal-trigger"  data-target="report_popup">
  Reportar
</button>

<div id="report_popup" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>Reportar</p>
      <!-- Your content -->
      <%= form_with(model: @report, url: initiative_reports_path(@initiative), method: :post) do |form| %>
        <%= form.text_area  :reason, placeholder: "Motivo del reporte"%>
        <%= form.text_area :content, placeholder: "Describe tu situación" %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Enviar Reporte", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>




<% end %>

