<% if current_user.has_role?(:admin_initiative, @initiative) %>
  <div class="modal" id="roles_popup">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Administrar Roles</p>
        <button onclick="closeModal('roles_popup');" class="delete" aria-label="close"></button>
      </header>

      <section class="modal-card-body">
        <!-- Administradores actuales -->
        <h3 class="subtitle">Administradores</h3>
        <div class="box">
          <% if @admins.empty? %>
            <h3>No hay administradores.</h3>
          <% else %>
            <ul style="list-style-type: none; padding: 0;">
            <% @admins.each do |admin| %>
              <% unless admin == current_user %>
              <li style="margin-bottom: 10px;">
                <div style="display: flex; align-items: center;">
                  <span style="margin-right: 10px;"><h5 style="color: black;"><%= admin.name %> <%= admin.last_name %></h5></span>
                  <%= button_to "Volver Miembro", initiative_path(@initiative), method: :patch, params: { initiative: {user_id: admin.id, update_type: 'remove_admin'} }, style: "padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %>
                  <%= button_to "Expulsar", initiative_path(@initiative), method: :patch, params: { initiative: {user_id: admin.id, update_type: 'remove_member'} }, style: "padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %>
                </div>
              </li>
              <% end %>
            <% end %>
            </ul>
          <% end %>
        </div>

        <!-- Miembros -->
        <h3 class="subtitle">Miembros</h3>
        <div class="box">
          <% if @members.empty? %>
            <h3>No hay miembros.</h3>
          <% else %>
            <ul style="list-style-type: none; padding: 0;">
            <% @members.each do |member| %>
              <li style="margin-bottom: 10px;">
                <div style="display: flex; align-items: center;">
                  <span style="margin-right: 10px;"><h5 style="color: black;"><%= member.name %> <%= member.last_name %></h5></span>
                  <%= button_to "Hacer Administrador", initiative_path(@initiative), method: :patch, params: { initiative: {user_id: member.id, update_type: 'add_admin'} }, style: "padding: 5px 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %>
                  <%= button_to "Expulsar", initiative_path(@initiative), method: :patch, params: { initiative: {user_id: member.id, update_type: 'remove_member'} }, style: "padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %>
                </div>
              </li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </section>

      <footer class="modal-card-foot">
        <button class="button is-danger" onclick="closeModal('roles_popup');">
          Cancelar
        </button>
      </footer>
    </div>
  </div>
<% end %>
