<h1>Editar Administradores de la Iniciativa</h1>

<div>
    <h2>Administradores actuales</h2>

    <ul>
    <%= current_user.name %> <%= current_user.last_name %> (Yo)
      <% @admins.each do |admin| %>
        <% unless admin == current_user %>
        <div  style="display: flex; align-items: center;" >
        <%= admin.name %> <%= admin.last_name %>
        <%= button_to "Volver Miembro",  initiative_path(@initiative), method: :patch, params: { initiative: {user_id: admin.id, update_type: 'remove_admin'} },style: "padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %>
        <%= button_to "Expulsar",  initiative_path(@initiative), method: :patch, params: { initiative: {user_id: admin.id, update_type: 'remove_member'} },style: "padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %>
        </div>
        <% end %>
      <% end %>
    </ul>
</div>
<div>
   <h2>Miembros</h2>
   <ul>
   <% @members.each do |member| %>
      <div style="display: flex; align-items: center;">
      <%= member.name %>
      <%= member.last_name %>
      <%= button_to "Hacer Administrador",  initiative_path(@initiative), method: :patch, params: { initiative: {user_id: member.id, update_type: 'add_admin'} },style: "padding: 5px 10px; background-color: #4CAF50; color: white; border: 5px; border-radius: 5px;  margin-left: 5px;", remote: true %>
      <%= button_to "Expulsar",  initiative_path(@initiative), method: :patch, params: { initiative: {user_id: member.id, update_type: 'remove_member'} },style: "padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; margin-left: 5px;", remote: true %>
      </div>
      <% end %>
    </ul>
</div>

<h1>Editar Iniciativa</h1>

<%= form_with(model: @initiative, local: true) do |form| %>
  <% if @initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% @initiative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Tema %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label :Descripción %>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :update_type, value: "data" %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Volver', initiative_path(@initiative) %>
