<br>

<h2 style="text-align: center;">Página de Iniciativas</h2>

<div style="margin-right: 100px" data-theme="light">
    <%= render 'new' %>
</div>

<h3 style="text-align: center;">Mis Iniciativas</h3>
<% if @all_initiatives.where(id: current_user.roles.where(name: ['admin_initiative']).pluck(:resource_id)).any? %>
<ul style="list-style-type: none; padding: 0; text-align: center;">
    <% @all_initiatives.where(id: current_user.roles.where(name: ['admin_initiative']).pluck(:resource_id)).each do |initiative| %>
        <li style="margin-bottom: 10px;">
            <%= link_to initiative_path(initiative), style: "text-decoration: none; color: #333; background-color: #f5f5f5; padding: 10px; border-radius: 5px; display: flex; align-items: center; justify-content: center; width: 300px; margin: 0 auto;" do %>
                <span style="margin-right: 5px; text-align: center;"><%= initiative.name %></span>
                <span style="font-size: 14px; text-align: center;">(Administrador)</span>
            <% end %>
        </li>
    <% end %>
</ul>
<% else %>
<h5 style="text-align: center;">No administras ni participas en ninguna iniciativa.</h5>
<% end %>

<ul style="list-style-type: none; padding: 0; text-align: center;">
    <% @all_initiatives.where(id: current_user.roles.where(name: ['member']).pluck(:resource_id)).each do |initiative| %>
        <li style="margin-bottom: 10px;">
            <%= link_to initiative.name, initiative_path(initiative), style: "text-decoration: none; color: #333; background-color: #f5f5f5; padding: 10px; border-radius: 5px; display: block;  width: 300px; margin: 0 auto;" %>
        </li>
    <% end %>
</ul>
<br>
<h3 style="text-align: center;">Otras Iniciativas</h3>
<% if @all_initiatives.where.not(id: current_user.roles.where(name: ['admin_initiative', 'member']).pluck(:resource_id)).any? %>
<ul style="list-style-type: none; padding: 0; text-align: center;">
    <% @all_initiatives.where.not(id: current_user.roles.where(name: ['admin_initiative', 'member']).pluck(:resource_id)).each do |initiative| %>
        <li style="margin-bottom: 10px;">
            <%= link_to initiative.name, initiative_path(initiative), style: "text-decoration: none; color: #333; background-color: #f5f5f5; padding: 10px; border-radius: 5px; display: block;  width: 300px; margin: 0 auto;" %>
        </li>
    <% end %>
</ul>
<% else %>
<h5 style="text-align: center;">No hay otras iniciativas disponibles.</h5>
<% end %>