<!-- app/views/iniciativas/new.html.erb -->

<h2>Nueva Iniciativa</h2>
<h3>Datos de la iniciativa</h3>

<%= form_with(model: @initiative, url: initiatives_path) do |form| %>
  <% if flash.now[:alert] %>
    <div class="alert alert-danger">
      <%= flash.now[:alert] %>
    </div>
  <% end %>

  <%= form.label :Nombre %><br />
  <%= form.text_field :name, required: true %><br><br>

  <%= form.label :Tema %><br />
  <%= form.text_field :topic, required: true %><br><br>

  <%= form.label :Descripción %><br>
  <%= form.text_area :description, required: true %><br>

  <br>

  <div class="button">
    <%= form.submit "Crear Iniciativa" %>
  </div>
<% end %>
