<!-- app/views/iniciativas/new.html.erb -->

<h2>Nueva Iniciativa</h2>
<h3>Datos de la iniciativa</h3>


<button class="button is-link js-modal-trigger"  data-target="new_initiative_popup">
  Nueva Iniciativa
</button>

<div id="new_initiative_popup" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>Reportar</p>
      <!-- Your content -->
      <%= form_with(model: @report, url: initiative_reports_path(@initiative), method: :post) do |form| %>
        <%= form.text_area  :reason, placeholder: "Motivo del reporte"%>
        <%= form.text_area :content, placeholder: "Describe tu situación" %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Enviar Reporte", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>


<%= form_with(model: @initiative, url: initiatives_path) do |form| %>
  <% if flash.now[:alert] %>
    <div class="alert alert-danger">
      <%= flash.now[:alert] %>
    </div>
  <% end %>

  <%= form.label :Nombre %><br />
  <%= form.text_field :name, required: true %><br><br>

  <%= form.label :Tema %><br />
  <%= form.text_field :topic, required: true %><br><br>

  <%= form.label :Descripción %><br>
  <%= form.text_area :description, required: true %><br>

  <br>

  <div class="button">
    <%= form.submit "Crear Iniciativa" %>
  </div>
<% end %>
