<div data-theme="light">

<% if @photos.present? %>
  <div class="block">
    <h2 style="text-align: center;">Resultados de Búsqueda</h2>
    <div class="has-text-centered">
      <%= link_to "Volver a Iniciativa", initiative_path(@initiative), class: "button is-primary" %>
    </div><br>|
    <div class="columns is-multiline">
      <% @photos.each do |photo| %>
        <div class="column is-one-quarter">
          <div class="card custom-card">
            <div class="card-image">
              <figure class="image is-1by1" style="object-fit: cover">
                <img src="<%= photo.urls['small'] %>" alt="<%= photo.alt_description %>">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h5><strong><%= photo.user.name %></strong></h5>
                <p>Haga click en "Seleccionar" para utilizar esta imagen</p>
                <%= link_to "Seleccionar", update_image_path(@initiative, image: photo.urls['full']), method: :patch, class: "button is-primary is-small" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h2 style="text-align: center;">No hay Resultados de Búsqueda</h2>
<% end %>
<div class="has-text-centered">
  <%= link_to "Volver a Iniciativa", initiative_path(@initiative), class: "button is-primary" %>
</div>
</div>
