<div data-theme="light">

<% if @photos.present? %>
  <div class="block">
    <h2 style="text-align: center;">Resultados de Búsqueda</h2><br>
    <div class="columns is-multiline">
      <% @photos.each do |photo| %>
        <div class="column is-one-quarter">
          <div class="card custom-card">
            <div class="card-image">
              <figure class="image is-1by1" style="object-fit: cover">
                <img src="<%= photo.urls['small'] %>" alt="<%= photo.alt_description %>">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h5><strong><%= photo.user.name %></strong></h5>
                <p><%= photo.description %></p>
                
                <a href="<%= photo.links['download'] %>?force=true" class="button is-primary is-small" target="_blank">Descargar</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

</div>
