<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= asset_path 'show_initiative.css' %>">
</head>

<body>
  <main class="container">
    <section class="hero is-small background-image" style="background-image: url('<% if @initiative.persisted? && @initiative.image.attached? %><%= url_for(@initiative.image) %><% else %><%= asset_path('initiative_blank.jpg') %><% end %>');">
      <div class="hero-body">
          <br><br>
          <h1 style="font-size: 45px; font-family: 'Courier', monospace; font-weight: bold; color: white; text-align: center;"><%= @initiative.name %></h1>
          <br><br>
      </div>
    </section>
 
<br><br>
  <div class = "columns">

    <div class="column is-4 is-offset-1">

      <div class="block">
        <h3>Tema</h3>
        <h5><%=@initiative.topic%></h5>
      </div>

      <div class="block">
        <h3>Descripción</h3>
        <h5><%=@initiative.description%></h5>
      </div>

      <div class="block">
        <h3>Eventos de la Iniciativa</h3>

        <% if @events.empty? %>
          <h5><em>Esta iniciativa no tiene eventos activos.</em></h5>
        <% end %>
        <ul>
        <% Event.where.not(capacity: false).where(initiative: @initiative).each do |event| %>
          <div class="block mb-4">
            <li><%=button_to event.name, event_path(event), method: :get, class: "button is-info is-light is-small" %></li>
          </div>
        <% end %>
        </ul>

        <!-- Botón Eventos Finalizados -->
        <div class="block">
          <button onclick="openModal('old_events_popup');" class="button is-info is-light is-small"><em>Eventos finalizados</em></button>
          <div data-theme="light">
            <%= render 'old_events_popup' %>
          </div>
        </div>

      </div>

      <div class="block">
        <h3>Administradores de la Iniciativa</h3>
        <% @initiative.get_all_admins.each do |admin| %>
          <h5><%= admin.name %> <%= admin.last_name %></h5>
        <% end %>
          </div>

      <div class="block">
        <h3>Miembros de la Iniciativa</h3>
        <% if @members.empty? %>
          <h5><em>Esta iniciativa no tiene miembros.</em></h5>
        <% end %>
        <ul>
          <% @members.each do |member| %>
            <li><h5> <%= member.name %> <%= member.last_name %></h5></li>
          <% end %>
          <!-- Add more members here -->
        </ul>
      </div>

    </div>
    <div class="column is-3 is-offset-4">
      <div data-theme="light"><%= render 'menu'%></div>
    </div>
    
    
  </div>


    
 </main>
    

  <br><br><br>

</body>
</html>