<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= asset_path 'show_initiative.css' %>">
</head>

<body>
    <br><h1 style="font-size: 45px; font-family: 'Courier', monospace; font-weight: bold; color: white; text-align: center;"><%=@initiative.name%></h1>
    <div class="button3">
      <button onclick="window.location.href = '<%= root_path %>';" style="float: right;">Volver al Inicio</button>
    </div>
    <% if current_user.has_role?(:admin_initiative, @initiative) %>
      <div class="button3">
      <button onclick="window.location.href = '<%= initiative_requests_path(@initiative) %>';" style="float: right;">Solicitudes</button>
      </div>
      <div class="button2">
        <%= button_to "Chat", edit_initiative_path(@initiative), class: "btn btn-primary", style: "float: right" %>
        <%= button_to "Crear Evento", new_initiative_event_path(@initiative), method: :get, class: "btn btn-primary", style: "float: left" %>
        <%= button_to "Eliminar", initiative_path(@initiative), method: :delete, style: "float: left", data: { turbo_confirm: "¿Estás seguro de que deseas eliminar esta iniciativa?" } %>
      </div>
    <% elsif current_user.has_role?(:member, @initiative) %>
    <div class="button2">
      <%= button_to "Salirse", remove_initiative_user_role_path(@initiative, current_user, role: :member), method: :delete, data: { turbo_confirm: "¿Estás seguro de que deseas dejar de ser miembro de esta iniciativa?" }, class: "btn btn-danger" %>
      <%= button_to "Chat", edit_initiative_path(@initiative), class: "btn btn-primary", style: "float: right" %>
    </div>
    <% elsif @initiative.get_request(current_user).nil? or not @initiative.get_request(current_user).pending? %>
    <div class="button2">
      <%= button_to "Unirse", requests_path, method: :post, params: { request: { initiative: @initiative.id, status: :pending } }, class: "btn btn-primary" %>
    </div>
    <% elsif @initiative.get_request(current_user).pending? %>
    <div class="button2">
      <%= button_to "Cancelar ", request_path(@initiative.get_request(current_user)), method: :patch, params: { request: {status: :cancelled} }, class: "btn btn-primary" %>
    </div>
    <% end %>

    <br><br><h3>Tema</h3>
    <p><%=@initiative.topic%></p>
    <h3>Administrador de la Iniciativa</h3>
    <p><%= @initiative.get_admin.name%> <%= @initiative.get_admin.last_name%></p>

    <h3>Descripción</h3>
    <p><%=@initiative.description%></p>

    <div>

      <h3>Eventos de la Iniciativa</h3>
      <% if @events.empty? %>
        <p><em>Esta iniciativa no tiene eventos activos.</em></p>
      <% end %>
      <ul>
      <% @events.each do |event| %>
        <li><%=button_to event.name, event_path(event), method: :get, class: "btn btn-primary" %></li>
      <% end %>
      </ul>

    </div>

    <div>
      <h3>Miembros de la Iniciativa</h3>
      <% if @members.empty? %>
        <p><em>Esta iniciativa no tiene miembros.</em></p>
      <% end %>
      <ul>
        <% @members.each do |member| %>
          <li><%= member.name %> <%= member.last_name %></li>
        <% end %>
        <!-- Add more members here -->
      </ul>
    </div><br><br><br><br><br><br><br><br><br>

</body>
</html>
