<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= asset_path 'show_initiative.css' %>">
</head>

<body>
  <br><h1 style="font-size: 45px; font-family: 'Courier', monospace; font-weight: bold; color: white; text-align: center;"><%=@initiative.name%></h1>

  <div class="columns">
    <div class="column is-one-third is-offset-1">
      <div class="buttons">
      <!-- Botón Volver al Inicio -->
      <button onclick="window.location.href = '<%= root_path %>';" class="button is-primary">Volver al Inicio</button>

      <!-- Botón Solicitudes (solo para administradores de la iniciativa) -->
      <% if current_user.has_role?(:admin_initiative, @initiative) %>
        <button onclick="window.location.href = '<%= initiative_requests_path(@initiative) %>';" class="button is-primary">Solicitudes</button>
      <% end %>
      </div>
    </div>

    <div class="column"></div>

    <div class="column is-one-third">
      <div class="buttons">
      <% if current_user.has_role?(:admin_initiative, @initiative) %>
        <!-- Botón Editar -->
        <%= button_to "Editar", edit_initiative_path(@initiative), method: :get, class: "button is-primary" %>
        <!-- Botón Crear Evento -->
        <%= button_to "Crear evento", new_initiative_event_path(@initiative), method: :get, class: "button is-primary" %>
        <!-- Botón Eliminar iniciativa -->
        <%= button_to "Eliminar iniciativa", initiative_path(@initiative), method: :delete, class: "button is-primary", data: { turbo_confirm: "¿Estás seguro de que deseas eliminar esta iniciativa?" } %>
      
      <% elsif current_user.has_role?(:member, @initiative) %>
        <!-- Botón Salir de iniciativa -->
        <%= button_to "Salir de iniciativa", remove_initiative_user_role_path(@initiative, current_user, role: :member), method: :delete, data: { turbo_confirm: "¿Estás seguro de que deseas dejar de ser miembro de esta iniciativa?" }, class: "button is-danger" %>
        <!-- Botón Chat -->
        <%= button_to "Chat", edit_initiative_path(@initiative), class: "button is-primary" %>
      <% elsif @initiative.get_request(current_user).nil? or not @initiative.get_request(current_user).pending? %>
        <!-- Botón Enviar solicitud -->
        <%= button_to "Enviar solicitud", requests_path, method: :post, params: { request: { initiative: @initiative.id, status: :pending } }, class: "button is-primary" %>
      <% elsif @initiative.get_request(current_user).pending? %>
        <!-- Botón Cancelar solicitud -->
        <%= button_to "Cancelar solicitud", request_path(@initiative.get_request(current_user)), method: :patch, params: { request: {status: :cancelled} }, class: "button is-primary" %>
      <% end %>
      </div>
    </div>

  </div>

  <div class="columns">
  <div class="column is-four-fifths is-offset-1">

  <div class="block">
    <br><br><h3>Tema</h3>
    <h5><%=@initiative.topic%></h5>
  </div>

  <div class="block">
    <h3>Administradores de la Iniciativa</h3>
    <% @initiative.get_all_admins.each do |admin| %>
      <h5><%= admin.name %> <%= admin.last_name %></h5>
    <% end %>
  </div>

  <div class="block">
    <h3>Descripción</h3>
      <h5><%=@initiative.description%></h5>
  </div>

  <div class="block">
    <h3>Eventos de la Iniciativa</h3>
    <% if @events.empty? %>
      <h5><em>Esta iniciativa no tiene eventos activos.</em></h5>
    <% end %>
    <ul>
    <% @events.each do |event| %>
      <li><%=button_to event.name, event_path(event), method: :get, class: "button is-info is-light is-small" %></li>
    <% end %>
    </ul>

  </div>

  <div class="block">
    <h3>Miembros de la Iniciativa</h3>
    <% if @members.empty? %>
      <h5><em>Esta iniciativa no tiene miembros.</em></h5>
    <% end %>
    <ul>
      <% @members.each do |member| %>
        <li><h5><%= member.name %> <%= member.last_name %></h5></li>
      <% end %>
      <!-- Add more members here -->
    </ul>
  </div>
    
    <div class="has-text-centered">
      <!-- chat_banner.html.erb -->
      <!-- The modal -->
      <%= render 'report_popup' %>
      <%= render 'chat_banner' %>
    </div>
  </div>
  </div>

<br><br><br>

</body>
</html>
