<!DOCTYPE html>
<html>

<body style="text-align: center;">
<h2>Registro</h2>

<div class="column is-half is-offset-one-quarter" data-theme="light">
<div class="box" style="background-color: rgba(255, 255, 255, 0.5);">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label 'Username', class: "label is-medium" %>
    <div class="control">
      <%= f.text_field :username, class: "input", placeholder: "Username", required: true %>
    </div>
  </div>

  <div class="field">
  <%= f.label 'Nombre', class: "label is-medium" %>
  <div class="control">
    <%= f.text_field :name, class: "input", placeholder: "Nombre", required: true %>
  </div>
  </div>

  <div class="field">
  <%= f.label 'Apellido', class: "label is-medium" %>
  <div class="control">
    <%= f.text_field :last_name, class: "input", placeholder: "Apellido", required: true %>
  </div>
  </div>

  <div class="field">
  <%= f.label 'Correo', class: "label is-medium" %>
  <div class="control">
    <%= f.email_field :email, class: "input", placeholder: "Correo", required: true, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="field">
    <%= f.label 'Contraseña', class: "label is-medium" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <div class="control">
    <%= f.password_field :password, class: "input", placeholder: "Contraseña", required: true, autocomplete: "new-passwords" %>
    </div>
  </div>

  <div class="field">
    <%= f.label 'Confirmación de contraseña', class: "label is-medium" %>
    <div class="control">
    <%= f.password_field :password_confirmation, class: "input", placeholder: "Contraseña", required: true, autocomplete: "new-passwords" %>
    </div>
  </div>

  <div class="field">
  <%= f.label 'Avatar', class: "label is-medium" %>
  <div class="control">
  <%= f.file_field :avatar, class: "input" %>
  </div>
</div>

  <br>
  <div class="field">
  <div class="control">
    <div class="buttons is-centered">
      <%= f.submit "Registrarse", class: "button is-link" %>
      <%= link_to "Cancelar", root_path, class: "button is-link is-light" %>
    </div>
  </div>
  </div>
<% end %><br>

</div>
</div>

<!--<%= render "devise/shared/links" %> -->
</body>
</html>
