<h2 style="text-align:center">¿Olvidaste tu contraseña?</h2>
<br>
<div class="columns is-centered">
<div class="column is-one-third" data-theme="light">
<div class="box" style="background-color: rgba(255, 255, 255, 0.5);">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" style= "text-align:center">
  <%= f.label 'Correo', class: "label is-medium" %>
  <div class="control">
    <%= f.email_field :email, class: "input", placeholder: "Correo", required: true, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="actions" style="text-align:center">
    <%= f.submit "Enviar instrucciones", class: "button is-link"%>
  </div>
<% end %><br>
<div class="actions" style="display: flex;justify-content: center; gap: 10px;"">
<%= button_to "Registrarse", new_user_registration_path, method: :get, class: "button is-link is-light" %>
<%= button_to "Iniciar sesión", new_user_session_path, method: :get, class: "button is-link is-light" %>
</div>


</div>
</div>
</div>