<% if user_signed_in? && current_user.has_role?(:admin_initiative, @initiative) %>
  <!-- Toggle button -->
  <div class="modal" id="attendants_popup">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Editar participantes
        </p>
        <button onclick="closeModal('attendants_popup');" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body" style="text-align: center;" id="attendants_remove">
        <div class="box">
            <% @attendants.each do |attendant| %>
            <div class="attendant-item" style="display: flex; align-items: center;">
            <div class="block" data-theme="light">

        
            <div class="media ">
            <div class="media-left">
                <figure class="image ">
                  <% if attendant.persisted? && attendant.avatar.present? %>
                    <%= image_tag url_for(attendant.avatar), class: "is-rounded", style: "border-radius: 50%; width: 32px; height: 32px; object-fit: cover"  %>
                  <% else %>
                    <%= image_tag asset_path('user_blank.jpg'), class: "is-rounded", style: "border-radius: 50%; width: 32px; height: 32px; object-fit: cover"  %>
                  <% end %>
                </figure>
              </div>
              <div class="media-content" style="display: flex; align-items: center;"> 
              <p style="color: black; margin-right: 10px;"><%= attendant.username %></p>
              <%= form_with(model: @event, url: event_path(@event), method: :patch) do |form| %>
              <%= form.hidden_field :user_id, value: attendant.id %>
              <%= form.hidden_field :update_type, value: 'remove_attendant' %>
              <button type="submit" class="button is-danger is-small" style="background-color: #f44336; color: white;">
                Quitar participante
              </button>
              </button>
              <% end %>
              </div>
            </div>
            </div>    
            </div>
            <% end %>
        </div>
        </section>
        <footer class="modal-card-foot"></footer>

    </div>
  </div>
<% end %>
