<div class="card custom-card">
  <div class="card-content">
      <aside class="menu">
        <%if not @event.is_active?%>
          <ul class="menu-list">
            <li><div data-theme="light"><button onclick="window.location.href = '<%= initiative_path(@initiative) %>';" class="button is-primary1">Volver a la iniciativa</button></div></li>
          </ul>
        <% elsif current_user.has_role?(:admin_initiative, @initiative) %>
          <% if @event.is_active? %>
              <div data-theme="light"> <%= render 'notice_popup' %></div>
              <div data-theme="light"> <%= render 'attendants_popup' %></div>
              <div data-theme="light"> <%= render 'edit' %></div>
              <p class="menu-label">Administrador</p>
              <ul class="menu-list">
                <li><div data-theme="light"><button onclick="window.location.href = '<%= initiative_path(@initiative) %>';" class="button is-primary1">Volver a la iniciativa</button></div></li>
                <li><button onclick="openModal('notice_popup');" class="button is-primary1"> Crear Anuncio</button></li>
                <li><button onclick="openModal('attendants_popup');" class="button is-primary1">Administrar Participantes</button></li>
                <li><button onclick="openModal('edit_event_popup');" class="button is-primary1">Editar Evento</button></li>
                <li><div data-theme="light"><%= button_to "Eliminar Evento", event_path(@event), method: :delete, class: "button is-danger1", data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este evento?" } %></div></li>
              <%= form_with(model: @event, url: event_path(@event), method: :patch) do |form| %>
                <%= form.hidden_field :capacity, value: 0  %>
                <%= form.hidden_field :update_type, value: 'data' %>
                <%= form.hidden_field :initiative, value: @event.initiative.id %>
                <li><div data-theme="light"><button type="submit" class="button is-danger1">Finalizar evento</button></div></li>
              </ul>
            <% end %>
          <% end %>
            

        <% elsif current_user.has_role?(:attendant, @event) %>
          <div data-theme="light"><%= render 'review_popup' %></div>
            <p class="menu-label">Participante</p>
            <ul class="menu-list">
              <li><div data-theme="light"><button onclick="window.location.href = '<%= initiative_path(@initiative) %>';" class="button is-primary1">Volver a la iniciativa</button></div></li>
              <li><div data-theme="light"><button onclick="openModal('review_popup');" class="button is-primary1">Crear Reseña</button></div></li>
              <li><div data-theme="light"> <%= button_to "Salir del evento", remove_user_role_event_path(@event), method: :delete, data: { turbo_confirm: "¿Estás seguro de que deseas salirte de este evento?" }, class: "button is-danger1" %></div></li>
            </ul>
        <% elsif not current_user.has_role?(:attendant, @event) && @event.is_active?%>
          <p class="menu-label">Visitante</p>
          <ul class="menu-list">
            <li><div data-theme="light"><button onclick="window.location.href = '<%= initiative_path(@initiative) %>';" class="button is-primary1">Volver a la iniciativa</button></div></li>
            <%= form_with(model: @event, url: add_user_role_event_path(@event), method: :post) do |form| %>
              <%= form.hidden_field :update_type, value: 'join' %>
               <li><div data-theme="light"><button type="submit" class="button is-primary1">Unirse al evento</button></div></li>
            <% end %>
          </ul>
        <% end %>
      </aside>
  </div>
</div>
