<% if current_user.has_role?(:admin_initiative, @initiative) %>
  <div class="modal" id="new_event_popup">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Nuevo Evento
        </p>
        <button onclick="closeModal('new_event_popup');" class="delete" aria-label="close"></button>

      </header>
      <%= form_with(model: @event, url: events_path(@initiative), method: "post") do |form| %>
      <section class="modal-card-body" style="text-align: center;">

          <div class="field">
              <%= form.label 'Nombre', class: "label is-medium" %>
              <div class="control">
                <%= form.text_field :name, class: "input is-medium", placeholder: "Nombre", required: true, maxlength: 20 %>
              </div>
            </div>

          <div class="field">
              <%= form.label 'Descripción', class: "label" %>
              <div class="control">
                <%= form.text_area :description, class: "textarea", placeholder: "Descripción", required: true, rows: 2 %>
              </div>
          </div>

          <div class="field">
            <%= form.label "Capacidad", class: "label" %>
            <div class="control">
              <%= form.number_field :capacity, class: "input", required: true, placeholder: "100", min: 1 %>
            </div>
          </div>

          <%= form.hidden_field :initiative, value: @initiative.id %>

      </section>
      <footer class="modal-card-foot">
        <div class="field is-grouped">
          <div class="control">
            <%= form.submit "Crear Evento", class: "button is-primary"%>
            <% end %>
          </div>

          <div class="control">
            <button class="button is-danger" onclick="closeModal('new_event_popup');">
              Cancelar
            </button>
          </div>
        </div>
      </footer>
    </div>
  </div>
<%end%>
