
<% if user_signed_in? && current_user.has_role?(:attendant, @event) %>
  <!-- Toggle button -->
  <button onclick="openModal('review_popup');" class="button is-success">
   Reseña
</button>




<div class="modal" id="review_popup">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">
				Reseña
			</p>
			<button onclick="closeModal('review_popup');" class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body" style="text-align: center;" id = "chat-body">
      <%= form_with(model: @review, url: event_reviews_path(@event), method: :post) do |form| %>
        <%= form.number_field :calification, placeholder: "Ingresa un número", in: 1..5 %>
        <%= form.text_area :content, placeholder: "Escribe tu mensaje aquí" %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Enviar mensaje", class: "btn btn-link" %>
      <% end %>
    </footer>
	</div>
</div>
<% end %>
