<!DOCTYPE html>
<html>
<head>
  <title>Detalles del Evento</title>
  <link rel="stylesheet" href="<%= asset_path 'show_event.css' %>">
</head>

<body>

  <div>
    <h1 style="font-size: 45px; font-family: 'Courier', monospace; font-weight: bold; color: white; text-align: center;">Evento <%=@event.name%></h1>
    <div class="button3">
      <button onclick="window.location.href = '<%= initiative_path(@initiative) %>';" style="float: right;">Volver a la iniciativa</button>
    </div>
      <!-- Si es admin del evento -->
    <% if current_user.has_role?(:admin_initiative, @initiative) %>
        <button onclick="openModal('attendants_popup');" class="button is-success">
          Administrar Participantes
        </button>
        <%= render 'attendants_popup' %>
        <%= button_to "Editar", edit_event_path(@event), method: :get, class: "button is-primary" %>
        <%= button_to "Eliminar evento", event_path(@event), method: :delete, data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este evento?" }, class: "button is-danger" %>
  
      <!-- Si es miembro del evento -->
    <% elsif current_user.has_role?(:attendant, @event) %>
      <div class="button2">
        <%= button_to "Salir del evento", remove_user_role_event_path(@event), method: :delete, data: { turbo_confirm: "¿Estás seguro de que deseas salirte de este evento?" }, class: "btn btn-danger" %>
      </div>

    <!-- Si no es miembro del evento (los eventos no tienen necesitan solicitudes, todos se unen automaticamente) -->
    <% elsif not current_user.has_role?(:attendant, @event) %>
      <%= form_with(model: @event, url: add_user_role_event_path(@event), method: :post) do |form| %>
        <%= form.hidden_field :update_type, value: 'join' %>
        <button type="submit" class="button is-primary">Unirse al evento</button>     
      <% end %>

    <% end %>


  <div class="columns">
    <div class="column is-four-fifths is-offset-1">

    <div class="block">
      <br><h3>Iniciativa que organiza</h3>
      <h5><%= @initiative.name %></h5>
    </div>

    <div class="block">
      <h3>Descripción</h3>
      <h5><%=@event.description%></h5>
    </div>


    <div class="block">
      <h3>Miembros actuales</h3>
      <% if @event.get_attendants.empty? %>
        <h5><em>Este evento no tiene miembros.</em></h5>
      <% end %>
      <ul>
        <% @event.get_attendants.each do |user| %>
          <li><%= user.name %> <%= user.last_name %></li>
        <% end %>
      </ul>
    </div>
    
    <div class="block">
      <!-- Mostrar la cantidad de miembros actuales / capacidad total -->
      <h3>Capacidad</h3>
      <h5><%= @event.get_attendants.count %>/<%=@event.capacity%></h5>
    </div>


    <div class="block">
      <div><h3>Reseña<aside></aside></h3>
      <%= render 'review_popup' %>
      </div>
      <% if @reviews.empty? %>
        <h5><em>Este evento no tiene reviews.</em></h5>
      <% end %>

        <% @reviews.each do |review| %>
        <ul>
          <h5><strong><%= review.user.username %>:</strong>
          <%= review.calification %> -->
          <%= review.content %></h5>
        </ul>

        <% end %>
    </div>
  </div>

</body>
</html>
