<!DOCTYPE html>
<html>
<head>
  <title>Detalles del Evento</title>
  <link rel="stylesheet" href="<%= asset_path 'show_event.css' %>">
</head>
<body>
  <div>
    <h1 style="font-size: 45px; font-family: 'Courier', monospace; font-weight: bold; color: white; text-align: center;">Evento <%=@event.name%></h1>
    <div class="button3">
      <button onclick="window.location.href = '<%= initiative_path(@initiative) %>';" style="float: right;">Volver a la iniciativa</button>
    </div>
    <!-- Si es admin del evento -->
    <% if current_user.has_role?(:admin_initiative, @initiative) %>
      <div class="button2">
        <%= button_to "Editar", edit_event_path(@event), class: "btn btn-primary", style: "float: left" %>
        <%= button_to "Eliminar evento", event_path(@event), method: :delete, data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este evento?" }, class: "btn btn-danger", style: "float: left;" %>
      </div>

    <!-- Si es miembro del evento -->
    <% elsif current_user.has_role?(:attendant, @event) %>
    <div class="button2">
      <%= button_to "Salir del evento", remove_user_role_event_path(@event), method: :delete, data: { turbo_confirm: "¿Estás seguro de que deseas salirte de este evento?" }, class: "btn btn-danger" %>
    </div>

    <!-- Si no es miembro del evento (los eventos no tienen necesitan solicitudes, todos se unen automaticamente) -->
    <% elsif not current_user.has_role?(:attendant, @event) %>
    <div class="button2">
      <!-- Usar el nuevo método del controlador events_controller -->
      <%= button_to "Unirse al evento", add_user_role_event_path(@event), method: :post, class: "btn btn-primary" %>
    </div>
    <% end %>

    <br><br><h3>Iniciativa que organiza</h3>
    <p><%= @initiative.name %></p>

    <h3>Descripción</h3>
    <p><%=@event.description%></p>


    <div>
      <h3>Miembros actuales</h3>
      <% if @event.get_attendants.empty? %>
        <p><em>Este evento no tiene miembros.</em></p>
      <% end %>
      <ul>
        <% @event.get_attendants.each do |user| %>
          <li><%= user.name %> <%= user.last_name %></li>
        <% end %>
      </ul>
    </div>

    <!-- Mostrar la cantidad de miembros actuales / capacidad total -->
    <h3>Capacidad</h3>
    <p><%= @event.get_attendants.count %>/<%=@event.capacity%></p>



    <div>
      <div><h3>Reseña<aside></aside></h3>
      <%= render 'review_popup' %>
      </div>
      <% if @reviews.empty? %>
        <p><em>Este evento no tiene reviews.</em></p>
      <% end %>

        <% @reviews.each do |review| %>
        <ul>
          <strong><%= review.user.username %>:</strong>
         <%= review.calification %> --->
         <%= review.content %></ul>

        <% end %>

    </div>
</body>
</html>
