<h1>New Event</h1>

<%= form_with url: calendars_path, method: :post do %>
  <div>
    <%= label_tag :summary, 'Summary' %>
    <%= text_field_tag :summary %>
  </div>
  <div>
    <%= label_tag :start_time, 'Start Time' %>
    <%= datetime_local_field_tag :start_time %>
  </div>
  <div>
    <%= label_tag :end_time, 'End Time' %>
    <%= datetime_local_field_tag :end_time %>
  </div>
  <div>
    <%= submit_tag 'Create Event' %>
  </div>
<% end %>
