<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= asset_path 'landingpage.css' %>">
</head>
<body>
<main class="container">
  <div class="first">
      <div class="titulo">
      <!-- Encabezado de la página -->
        <br><br><br>
        <h1 class="display-4">Central de Iniciativas Estudiantiles</h1>
        <p>Explora una variedad de iniciativas estudiantiles que enriquecerán tu experiencia universitaria</p>
      </div>

      <div class="inicio-sesion">
        <!-- Botones de inicio de sesión y unirse -->
        <h2 style="font-size:16px; color: black;"> ¡Regístrate o inicia sesión para explorar las iniciativas y unirte a ellas! </h2>
      </div>
  </div>

  <br><hr><br>

  <h2>Iniciativas recientes</h2>
  <ul style="list-style-type: none; padding: 0;">
    <% @recent_initiatives.each do |initiative| %>
      <li>
        <h3><strong><%= initiative.name %></strong></h3>
        Temática: <%= initiative.topic %><br>
        Descripción: <%= initiative.description %>
      </li>
    <% end %>
  </ul>

  <br><hr><br>

  <h2> Galería de fotos </h2>
  <div class="second">
    <div class="gallery">
      <img src="<%= asset_path 'jorge-munoz.jpg' %>" alt="Foto 1">
      <div class="desc">Jorge Muñoz</div>
    </div>

    <div class="gallery">
      <img src="<%= asset_path 'jorge-munoz2.jpg' %>" alt="Foto 2">
      <div class="desc">Jorge Muñoz</div>
    </div>

    <div class="gallery">
      <img src="<%= asset_path 'jorge-munoz3.jpeg' %>" alt="Foto 3">
      <div class="desc">Jorge Muñoz</div>
    </div>
  </div>

  <br><br><br><br><br><br>

  <div class="footer">
    <img src="<%= asset_path 'logo_uc.png' %>" alt="Logo UC" style="height: 100px;">
    <div style="border-left:1px solid #000; height:100px; margin:40px;"></div>
    <h1>Grupo 67 @ IIC2143 2024-1 <br> Santiago de la Carrera <br> Andres Infante <br> Vicente San Martin <br> © 2024</h1>
  </div>
</main>
</body>
</html>
