<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= asset_path 'landingpage.css' %>">
  <link rel="stylesheet" href="<%= asset_path 'application.css' %>">
</head>
<body>
<main class="container">
  <div class="first">
      <div class="titulo">
      <!-- Encabezado de la página -->
        <br><br><br>
        <h1>Central de Iniciativas Estudiantiles</h1>
        <p>Explora una variedad de iniciativas estudiantiles que enriquecerán tu experiencia universitaria</p>
      </div>
      
      <br><br>

      <div class="is-flex is-justify-content-center is-align-items-center">
        <div class="box" style="width: 35%;">
          <!-- Botones de inicio de sesión y unirse -->
          <h2 style="font-size:16px; color: black;"> ¡Regístrate o inicia sesión para explorar las iniciativas y unirte a ellas! </h2>
          <div class="main-button button-container">
            <% if user_signed_in? %>
              <%= button_to "Inicio", initiatives_path, method: :get, class: "button is-primary" %>
              <%= button_to "Crear Iniciativa", new_initiative_path, method: :get, class: "button is-primary" %>
              <%= button_to "Ver Perfil", edit_user_registration_path, method: :get, class: "button is-primary" %>
              <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "button is-primary" %>
            <% else %>
              <%= button_to "Registrarse", new_user_registration_path, method: :get, class: "button is-primary" %>
              <%= button_to "Iniciar sesión", new_user_session_path, method: :get, class: "button is-primary" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>

  <br><hr><br>

  <h2>Iniciativas recientes</h2>
  <ul style="list-style-type: none; padding: 0;">
    <% @recent_initiatives.each do |initiative| %>
      <li>
        <h3><strong><%= initiative.name %></strong></h3>
        Temática: <%= initiative.topic %><br>
        Descripción: <%= initiative.description %>
      </li>
    <% end %>
  </ul>

  <br><hr><br>

  <h2> Galería de fotos </h2>
    <div class="second">
      <div class="gallery">
        <img src="<%= asset_path 'jorge-munoz.jpg' %>" alt="Foto 1">
        <div class="desc">Jorge Muñoz</div>
      </div>

      <div class="gallery">
        <img src="<%= asset_path 'jorge-munoz2.jpg' %>" alt="Foto 2">
        <div class="desc">Jorge Muñoz</div>
      </div>

      <div class="gallery">
        <img src="<%= asset_path 'jorge-munoz3.jpeg' %>" alt="Foto 3">
        <div class="desc">Jorge Muñoz</div>
      </div>
    </div>
  </div>
</main>
  <br><br><br><br><br><br>
</body>