<!DOCTYPE html>
<html>
  <head>
    <title>Iniciativas Estudiantiles UC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" type="image/png" href="<%= asset_path 'jorge-munoz.jpg' %>">
    <style>
    /* CSS styles for flash messages */
    .flash-message {
      animation: fadeOut 5s forwards;
    }

    @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
    }
  </style>
  </head>
  <body>

  <div class="header">
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_user_registration_path %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <%= link_to "Crear Iniciativa", new_initiative_path %>
  <% else %>
    <%= button_to "Sign up", new_user_registration_path, method: :get %>
    <%= button_to "Sign in", new_user_session_path, method: :get%>
  <% end %>
  </div>
   
  <% flash.each do |name, msg| %>
  <div class="flash-message" id="flash_<%= name %>">
    <%= msg %>
  </div>
  <% end %>

  <%= yield %>

  </body>
</html>
